<div class="row">
  <div class="span5">
    <div class="well game-side-header">
      {{name}}
    </div>
  </div>
</div>
{{#questions}}
  <div class="row question-list">
    <div class="span5">
      <div class="row">
        <div class="span5">
          <div class="question-row">
            <h4>{{body}}</h4>
            <h4>{{solution}}</h4>
          </div>
        </div>
      </div>
  </div>
</div>
{{/questions}}
