{{#.}}
  <div class="row team-row">
    <div class="span3 team-name">{{body}}</div>
    <div class="span1 team-points" id="team_{{team_id}}_points">
      <a href="#" data="{{id}}" class="btn btn-primary mark_as_correct">Mark as Correct</a>
    </div>
  </div>
  <div class="team-row-separator"><hr></div>
{{/.}}
