// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$berry: #355363;

.hidden {
  visibility: hidden;
}

.center {
  text-align: center;
}

.logo-div {
  background-color: black;
}

.logo {
  padding: 8px;
  float: right;
  margin-right: 20px;
}

.navbar-inner {
  background-color: black !important;
}

.well {
  background-color: $berry;
  border-radius: 8px;
  padding: 10px;
  padding-left: 20px;
}

.main {
  margin-top: 30px;
}

.player-form {
  text-align: center;
}

.player-input {
  font-size: 180% !important;
  height: 60px !important;
  font-weight: bold;
  padding-left: 10px !important;
}

.btn-large {
  margin-top: 15px;
  height: 40px;
  font-size: 150%;
}

.title {
  padding-top: 17px !important;
  font-family: "arial rounded mt bold" !important;
  font-size: 350% !important;
  color: white !important;
}

.timer {
  font-size: 110px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
  height: 70px;
}

.team-points {
  padding-top: 5px;
  // float: right;
  font-size: 330%;
}

.team-name {
  font-size: 220%;
  line-height: 130%;
}

.team-row {
  padding-right: 13px;
  padding-left: 13px;
}

.team-list {
  position: absolute;
  top: 250px;
  background-color: black;
}

#sidebar-header {
  width: 396px;
}

#sidebar-header-well {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.team-row-separator {
  padding-right: 13px;
  padding-left: 13px;
}

.top-bar {
  margin-top: 18px;
}

.top-button {
  font-size: 40px;
  padding: 20px;
  font-weight: bold;
  margin-left: 60px;
}

.question {
  font-size: 450%;
  line-height: 130%;
}

.with_solution {
  font-size: 250%;
}

.solution {
  font-size: 450%;
  line-height: 130%;
  padding: 20px;
}

#questions {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#questions_remaining {
  margin-bottom: 0px;
  margin-left: 30px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.mark_as_correct {
  font-size: 20px;
  width: 80px;
}

.add-new-game-button{
  margin-left: 20px;
  margin-top: -8px;
}

.add-new-game-input{
  height: 20px !important;
  font-size: 18px !important;
}

#new_game {
  height: 30px;
  margin-bottom: 0px;
}

#games {
  margin-top: 10px;
}

.left_game_row {
  padding-left: 15px;
}

.game_row {
  background-color: black;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-left: 0px;
}

.option-button {
  margin-right: 10px;
}

.game-side-header {
  font-size: 18px;
}

.show-solutions {
  margin-left: 250px;
  margin-top: 0px;
}

.question-list {
  margin-top: 10px;
}

.question-row {
  background-color: black;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-left: 0px;
  padding-left: 10px;
}

.add-new-question {
  margin-top: 62px;
  background-color: black;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  margin-left: 0px;
  padding-left: 40px;
}
