// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  visibility: hidden;
}

.logo-div {
  background-color: black;
}

.logo {
  padding: 8px;
}

.navbar-inner {
  background-color: black !important;
}
